/* Signup Page */

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  padding: 14px;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
}

button {
  padding: 8px;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 10px 10px;
  color: #fff;
  background: repeating-linear-gradient(163deg, #dc0000, #0066ffe6 100%);
}
button:hover {
  opacity: 0.9;
}

.btn {
  padding: 8px;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 10px 10px;
  background: repeating-linear-gradient(163deg, #dc0000, #0066ffe6 100%);
  color: #fff;
}
.btn:hover {
  opacity: 0.9;
}
form {
  display: flex;
  flex-direction: column;
}

#signup-page,
#login-page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-page section,
#login-page section {
  background-color: #04020254;
  width: 40%;
}

#signup-page .title,
#login-page .title {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  color: #fffbe9;
  padding: 20px;
  margin: 0;
  background-color: #04020254;
}

.inputs-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 1px 15px;
}

.inputs-control label {
  font-size: 20px;
  color: #fffbe9;
}

/*  Home */

#nav-bar {
  width: 100%;
  margin: 0;
  background: #000000cf;
  font-size: 16pt;
  height: 49px;
  box-sizing: border-box;
  position: fixed;
  inset: 0;
}

#nav-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}

#nav-bar ul li a {
  padding: 13px;
  color: #fff;
}

#nav-bar ul li a:hover {
  background-color: #5d4037ad;
}

#nav-bar .logout-btn {
  margin-left: auto;
}

.search-container {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
  background-image: url(./search.jpg);
  background-attachment: fixed;
  background-position: center;
}

.search-container div {
  margin: auto;
  max-width: 90%;
  width: 500px;
}

.search-container div input {
  width: 100%;
}

#books-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 60vh;
  background: repeating-linear-gradient(180deg, #973915, #3e2723 100%);
}

.card,
.book-view__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: repeating-linear-gradient(163deg, #8e0000, #212121e3 100%);
  color: #fff;
  padding: 10px;
  margin: 15px 20px;
  width: 490px;
  max-width: 100%;
  box-sizing: content-box;
  border-radius: 9px;
  box-shadow: 0px 0px 11px 0px black;
  overflow-wrap: anywhere;
}

.card-img,
.book-view__img {
  width: 400px;
  max-width: 100%;
  height: 200px;
  background-image: url("./book.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  border-bottom: 1px solid;
}

.card-body,
.book-view__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-body .item,
.book-view__body .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-body .item h3 {
  margin: 5px 0;
  padding: 0 5px;
  font-weight: unset;
}

.card-body .item h3 > span,
.book-view__body .item h3 > span {
  font-size: 15px;
  font-weight: bold;
}

.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Modal view */

.modal-window {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #00000094;
  inset: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window div {
  position: relative;
  background-color: #393c3bf5;
  padding: 15px;
  border-radius: 7px;
  width: 550px;
  max-width: 100%;
  box-sizing: border-box;
}

.modal-window .title {
  color: #fff;
}

.modal-close {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 15pt;
  padding: 5px;
  text-decoration: none;
  z-index: 11;
}

/* BOOK PAGE */
#book-view__container {
  display: flex;
  height: 100vh;
}

.book-view__card {
  flex-direction: row;
  width: 90%;
  height: 84vh;
  box-sizing: border-box;
  margin: auto;
  padding: 41px;
}

.book-view__img {
  flex: 2;
  border-bottom: 0;
  height: 50%;
  margin: auto;
  border-radius: 10px;
}

.book-view__body {
  flex: 2;
  margin: auto;
  padding: 10px;
}

.book-view__actions {
  align-self: flex-end;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .book-view__card {
    flex-direction: column;
  }
  .book-view__actions {
    align-self: center;
  }
}
